<div class="container-fluid bg-secondary text-white p-3 mb-5">
    <div class="container">
        <nav class="breadcrumb  ">
            <a class="breadcrumb-item" href="/">Home</a>
            <a class="breadcrumb-item" href="/productos">Productos</a>
            <span class="breadcrumb-item active text-white">{{prod.nombre}}</span>
        </nav>
    </div>
</div>

<div class="container">


    <div class="row mb-5">
        <div class="col-md-6">
            <img class="img-fluid w-100" src="/img/{{prod.imagen}}" alt="{{prod.nombre}}">
        </div>
        <div class="col-md-6">
            <h2 class="text-bold h1 mb-5">{{prod.nombre}}</h2>
            <p class="lead">
               {{prod.descripcion}}
            </p>
            <table class="table">
                <tbody>
                    <tr>
                        <td scope="row">
                        {{#if prod.stock}}
                            <strong class="badge bg-success"> disponibles: {{prod.stock}}</strong>
                        {{else}}
                            <strong class="badge bg-danger"> sin stock</strong>
                        {{/if}}
                        </td>
                        <td class="text-right"><span class="h1">${{prod.precio}}.-</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-between align-items-center">
                {{#if prod.stock}}
                <div class="form-group col-8">
                  <input type="number" name="cant" id="cantidad" class="form-control" placeholder="cantidad" aria-describedby="helpId">
                </div>
                <div class="col-4">
                    <button type="reset" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Comprar</button>
                </div>
                {{else}}
                <div class="form-group col-8">
                  <input type="text" class="form-control" placeholder="sin stock" disabled>
                </div>
                <div class="col-4">
                    <button type="reset" class="btn btn-primary" disabled><i class="fa fa-shopping-cart" aria-hidden="true"></i> Comprar</button>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
    <div class="alert alert-primary">
        <p class="lead">
            {{envios}}
        </p>
    </div>
    <div class="alert alert-primary">
        {{legales}}
    </div>
</div>